<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>XMLHttpRequest</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <script src="/javascripts/jquery-1.7.2.js" type="text/javascript"></script>
    <script src="/javascripts/function.js" type="text/javascript"></script>
</head>
<body onload="upload()">
<div id="dropBox" class="droperea"  >
    <ul id="list"></ul>
    <p style="font-size: large;margin-left: 350px;padding-top:110px;" id="txterea">请将文件拖拽到这里上传</p>
</div>
</body>
</html>